.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.search_term {
 font-size: .6rem;
 color: darkgray;
 padding: .5rem;
 width: 2rem;
 height: 12rem;
}

.search {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 60%;
}
.search > p {
  font-size: 3rem;
  margin: .5rem;

}

.home_img {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.himg {

  margin: 0;
  padding: 0;

}
.himg > img {
  width: 100%;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.definition { 
  border-left: 15px solid turquoise;
  width: 60%;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  color: yellow;
  background-color: black;
}
.definition > p {
  margin: 0.5rem;
  font-size: 1rem;
  padding: .5rem;
}

input {
  border:0;
  outline:0;
  border-left: 15px solid magenta;
  color: black;
  width: 100%;
}

.inputBox {
  width: 60%;
}

input:focus {outline:none!important;}

.inputText {
  font-size: 2rem;
  letter-spacing: 0.4em;
  padding-left: 1rem;
}










