.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 1rem;

}
.nav {
  border: 1px solid peru;
  width: 8rem;
  background-color: green;
  color: whitesmoke;
  font-size: smaller;
  font-family: monospace;
}
.search_term {
 width: 8rem;
 height: auto;
 position: static;
 font-size: .8rem;
 color: lightgrey;
}
.search {
  padding: 1rem;
  margin: 1rem;
}
p {
  margin: 0.5rem;
  font-size: 1rem;
}
.home_img {
  margin: 0;
  padding: 0;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.definition { 
  border-left: 15px solid turquoise;
  width: 80%;
  padding: 1rem;
  color: yellow;
  background-color: black;
}
input {
  border:0;
  outline:0;
  background-color: black;
  color: white;
}
input:focus {outline:none!important;}

.inputText {
  font-size: 2rem;
  letter-spacing: 0.4em;
  padding-left: 1rem;
}

